body{
    border-radius: 5px;
    background: gainsboro;
}

html{
    background-image: url(/305/backgrounds/whiteHexagons.jpg);
}

#submissions_wrapper{
    background: white;
    padding: 0.5rem;
}

tfoot{
    text-align: center;
}

th{

}
th:last-of-type{
    border-right: none;
}