/*
    David Boone
    1/28/2021
    Elements for the guestbook
 */
body{
background: gainsboro;
}

button{
    width: 15%;
}
body, form, #content{
    border-radius: 5px;
}
#emailSelection{
    margin-bottom: 0;
    padding-bottom: 0;
}
#emailNotification{
    font-size: 0.7rem;
}
.jumbotron{
    margin-bottom: 0;
}
form, .jumbotron{
    color: black;
}

fieldset{
    margin: 1rem;
}

#format{
    /*display: none;*/
}

#formatLabel{
    display: block;
}

html{
    background-image: url(/305/backgrounds/whiteHexagons.jpg);
}

label{
    padding-bottom: 0.5rem;
}

#summary h3{
    text-align: center;
    margin-bottom: 0;
}
#summary p{
    margin: 0;
    font-size: 2rem;
}
#summary span{
    color: white;
    white-space: nowrap;
    display: inherit;
    text-align: center;
}
#summary{
    background-color: #4e555b;
    color: white;
    margin: auto;
    width: 50%;
    font-size: 3rem;
    text-align: left;
    padding: 2rem;
}

span{
    color: red;
}


